<!DOCTYPE html>
<html>
<h1>Input data about the product </h1>
<body>
<form action="/submit" method="post"> 
    <label> 
        <input type="url" placeholder="url" name="url">
    </label>
    <br><br><br>
    <label>
        <input id="fname" type="text" placeholder="Name of product" name="name">
    </label>
    <br><br><br>
    <label>
        <input type="number" placeholder="Threshold price" name="price">
    </label>
    <br><br><br>
    <label>
        <input type="email" placeholder="Your Email" name="email">
    </label>
    <br><br>
  <input type="submit" value="Send">
</form>
</body>
</html>
